{% extends "core/base.html" %}

{% block content %}
{% load static %}

<main>
  <div class="filtro">  
  <form method="get" action="{% url 'adiestradores' %}">
  <label for="barrio">Filtrar por barrio:</label>
  <select name="barrio">
      <option value="">Todos los barrios</option>
      <option value="Agronomía"> Agronomía</option>
      <option value="Almagro">Almagro</option>
      <option value="Balvanera">Balvanera</option>
      <option value="Barracas">Barracas</option>
      <option value="Belgrano">Belgrano</option>
      <option value="Boedo">Boedo</option>
      <option value="Caballito">Caballito</option>
      <option value="Chacarita">Chacarita</option>
      <option value="Coghlan">Coghlan</option>
      <option value="Colegiales">Colegiales</option>
      <option value="Constitución">Constitución</option>
      <option value="Flores">Flores</option>
      <option value="Floresta">Floresta</option>
      <option value="La Boca">La Boca</option>
      <option value="La Paternal">La Paternal</option>
      <option value="Liniers">Liniers</option>
      <option value="Mataderos">Mataderos</option>
      <option value="Monte Castro">Monte Castro</option>
      <option value="Monserrat">Monserrat</option>
      <option value="Nueva Pompeya">Nueva Pompeya</option>
      <option value="Núñez">Núñez</option>
      <option value="Palermo">Palermo</option>
      <option value="Parque Avellaneda">Parque Avellaneda</option>
      <option value="Parque Chacabuco">Parque Chacabuco</option>
      <option value="Parque Chas">Parque Chas</option>
      <option value="Parque Patricios">Parque Patricios</option>
      <option value="Puerto Madero">Puerto Madero</option>
      <option value="Recoleta">Recoleta</option>
      <option value="Retiro">Retiro</option>
      <option value="Saavedra">Saavedra</option>
      <option value="San Cristóbal">San Cristóbal</option>
      <option value="San Nicolás">San Nicolás</option>
      <option value="San Telmo">San Telmo</option>
      <option value="Vélez Sársfield">Vélez Sársfield</option>
      <option value="Versalles">Versalles</option>
      <option value="Villa Crespo">Villa Crespo</option>
      <option value="Villa del Parque">Villa del Parque</option>
      <option value="Villa Devoto">Villa Devoto</option>
      <option value="Villa General Mitre">Villa General Mitre</option>
      <option value="Villa Lugano">Villa Lugano</option>
      <option value="Villa Luro">Villa Luro</option>
      <option value="Villa Ortúzar">Villa Ortúzar</option>            
      <option value="Villa Pueyrredón">Villa Pueyrredón</option>               
      <option value="Villa Real">Villa Real</option>                
      <option value="Villa Riachuelo">Villa Riachuelo</option>             
      <option value="Villa Santa Rita">Villa Santa Rita</option>                 
      <option value="Villa Soldati">Villa Soldati</option>
      <option value="Villa Urquiza">Villa Urquiza</option>
  </select>
  <input type="submit" value="Filtrar" class="botton">
</form>
<br>
<br>
</div>
  
    <div id="adiestradores">
      {% for adiestrador in adiestradores %}
      <div class="biselado">
        <div class="encabezado">
          <h3>{{adiestrador.nombre_a}} {{adiestrador.apellido_a}}</h3>
          <p>{{adiestrador.descripcion_a}}</p>
        </div>
        <div class="orden">
          <p><b>Contacto: </b>{{adiestrador.telefono_a}}</p>
          <div class="barrios">
            <p><b>Barrios: </b></p> 
            <p>{{adiestrador.barrio1_a}} - {{adiestrador.barrio2_a}} - {{adiestrador.barrio3_a}} - {{adiestrador.barrio4_a}}</p>
          </div>
          <div class="puntaje">
            <p><b>Puntaje: </b>{{adiestrador.puntaje}} de 5</p>
            <img src="{% static 'core/img/huella.png' %}" alt="huella" id="huella" width="25px">
          </div>
          <button class="btn-abrir-modal-{{adiestradores.id}}">Opiniones</button>
          <dialog class="modal-{{adiestradores.id}}">
            <ul>
              <li class="huellas"> {{adiestrador.opinion1}}</li>
              <li class="huellas"> {{adiestrador.opinion2}}</li>
              <li class="huellas"> {{adiestrador.opinion3}}</li>
            </ul>
            <button class="btn-cerrar-modal-{{adiestradores.id}}">Cerrar</button>
          </dialog>
        </div>
      </div>
      {% endfor %}
    </div>  
      <div class="registro">
        <a href="{% url 'form1' %}" target="_blank">Si querés publicar hacé click acá</a>
      </div>
    </main>
    <script src="{% static 'core/js/popup.js' %}"></script>
{% endblock %}
