{% extends "core/base.html" %}

{% block content %}
{% load static %}
<main>
    <form id="form_adiest" action= "" method="POST">
        {% csrf_token %}
        <!--{{ formularioAdiestrador.as_p }}-->
        <h2>Formulario de registro de adiestradores</h2>
        <fieldset class="recuadro">
            {% for field in formularioAdiestrador %}
            <div class="dato2">
                {{ field.label_tag }}
                {{ field }}
            </div>
            <br>
            {% endfor %}
            <div class="enviar">
                <button type="submit" value="enviar" class="button">Enviar</button>
                <input type="reset" value="Limpiar" class="button">
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </main>
    <!--<script src="{% static 'core/js/validacion_adiestradores.js' %}"></script>-->
{% endblock %}