{% extends "core/base.html" %}

{% block content %}
{% load static %}
<main>
  <form id="form_adiest" method="POST">
    {% csrf_token %}
    <h2>Formulario de registro de adiestradores</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
          {{ message }}
        </div>
        <br>
    {% endfor %}
    {% endif %}
    <fieldset class="recuadro">
      {{ form.as_p }} 
      <br>   
      <br>
      <div class="enviar">
        <button type="submit" value="enviar" class="button">Enviar</button>
        <input type="reset" value="Limpiar" class="button">
      </div>
    </fieldset>
  </form>
</main>

{% endblock %}