{% extends "core/base.html" %}

{% block content %}
{% load static %}
    <main>
      <h2>Bienvenido a IACan</h2>
      <div class="slider2">
        <ul>
          <li>
            <img src="{% static 'core/img/fot1.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/img/fot2.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/img/fot3.jpg' %}" alt="">
          </li>
          <li>
            <img src="{% static 'core/img/fot4.png' %}" alt="">
          </li>
        </ul>
      </div>
      <div class="centro">
        <div class="info">
          <h3>Quiénes somos</h3>
          <p>
            En 2015 un pequeño grupo de entrenadores considerábamos que era necesario cambiar la forma tradicional de entrenar y 
            empezamos a compartir nuestras inquietudes, trabajando juntos para encontrar alternativas que respondieran a las 
            necesidades que implicaba la integración saludable y feliz de los perros en el núcleo familiar.
          </p>
          <p>  
            El resultado fue la puesta en marcha en 2016 de la que hoy es una de las empresas de adiestramiento con más calidad 
            técnica del Latinoamérica y Argentina, IACan, llegando incluso a competir con escuelas de adiestramiento europeas.
          </p>
          <p>
            Nuestro equipo es pionero a nivel latinoamericano en el desarrollo y aplicación del trabajo cognitivo-emocional, y nos 
            enorgullece haber introducido el perro de asistencia a personas con discapacidad en nuestro país, siendo la primera 
            empresa de adiestramiento en Argentina que ha entregado perros de ayuda a múltiples colectivos.
          </p>
          <h3>Nuestra visión</h3>
          <p>
            Los perros forman parte de nuestra vida y nos dan un regalo especial: su cariño y lealtad. Nos quieren de forma 
            incondicional e incansable y enriquecen nuestra vida con su compañía, apoyo y amistad. No podemos fallarles, debemos 
            asegurarnos de que tengan una vida tan plena con nosotros, como la nuestra se vuelve con ellos.
          </p>
          <p>
            Somos afortunados, ya que nos dedicamos a aquello que más nos gusta, nuestros amigos peludos, y queremos compartir con 
            vos nuestra experiencia y conocimiento.
          </p>
          <p>
            Desde IACan te ofrecemos la mejor formación si deseas prepararte como profesional del adiestramiento y la educación canina, 
            ya que estamos dedicados a estudiar y enseñar cómo organizar la convivencia entre perros y personas, a fin de que podamos 
            comprendernos, comunicarnos y ser felices juntos.
          </p>
          <h3>Con nuestra ayuda vas a:</h3>
          <ul>
            <li>Aprender los métodos, manejo y conocimientos nuevos en el adiestramiento, con una visión a mejorar la comunicación 
              y la convivencia con el can.</li>
            <li>Poder inducir a un comportamiento adecuado a través del método cognitivo-emocional.</li>
            <li>Saber equilibrar el respeto al canido con la necesidad del cliente, optimizando el proceso de adiestramiento.</li>
            <li>Conocer el mecanismo de aprendizaje de los caninos, las técnicas básicas del adiestramiento y del diseño de sistemas 
              de seguridad, cuáles son las acciones necesarias para que el can responda a los estímulos y la valorización del juego 
              como herramienta de enseñanza.</li>
          </ul>
          <div class="mapa">
            <h3>Donde estamos</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3284.066946732176!2d-58.3855831!3d-34.6024686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac663e1c671%3A0x56cd23d36848e42f!2sLavalle%201334%2C%20C1055%20CABA!5e0!3m2!1ses!2sar!4v1696792927152!5m2!1ses!2sar" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
          </div>
        </div>
        <div class="aside">
          <h4>Calendario de Eventos</h4>
          <div class="calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=1&bgcolor=%23B39DDB&ctz=America%2FArgentina%2FBuenos_Aires&showTitle=0&showPrint=0&showCalendars=0&showTz=0&showTabs=0&src=NWUyODk5MTg5NDNkMjVhNzdjMzYxMTgxMzAzMzRlMDExNDU2MDM2ODI1NWQyNjkxYmQ0NzE1MzI3MTgxY2EwZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23B39DDB" style="border:solid 1px #777" width="430" height="300" frameborder="0" scrolling="no"></iframe>
            <ul class="eventos">
              <li>
                <p>
                  <b>14/10</b> - Encuentro Sudamericano de Adiestradores Caninos - Complejo Costa Salguero: Hace crecer tu red 
                  de contactos, charlas, sorteos y talleres temáticos.
                </p>  
              </li>
              <li>
                <p>
                  <b>19/10</b> - Seminario especial “Alimentación sana para una mente fuerte” - Instituto IACan: A cargo del 
                  Dr. Adrián Ladrimovich, especialista en nutrición animal, best seller del libro “No te comas la tarea”.
                </p>  
              </li>
              <li>
                <p>
                  <b>8/11</b> - Charla “Paren el fuego”: Concientización de los peligros de la pirotecnia y cómo atender 
                  emergencias causadas por ella. Dictada por la Asociación Argentina de Protección Animal de Córdoba.
                </p>  
              </li>
              <li>
                <p>
                  <b>25/11</b> - Charla “Ellos también sienten”: Tips para irse tranquilos y sin culpas de vacaciones. A cargo 
                  de nuestro director Kike Arroyo.
                </p>  
              </li>
            </ul>
          </div>
          <div id="clima">
            <div class="icon">
              <img src="{% static 'core/img/clima.png' %}" alt="clima">
              <h2>El clima</h2>
            </div>
            <div id="caja1">
              <h3 id="ubicacion"></h3>
              <img id="icono-animado" src="" alt="">
            </div>
            <div id="caja2">
              <h3 id="temperatura-valor"></h3>
              <h5 id="temperatura-descripcion"></h5>
            </div>
          </div>
        </div>
      </div>      
    </main>
    <script src="{% static 'core/js/script.js' %}"></script>
{% endblock %}

